.face {
  position: absolute;
  top: 5.5rem;
  left: calc(50% - 7.5rem);
}

.head {
  width: 15rem;
  height: 10rem;
  background-color: #e6cab0;
  border-radius: 0 0 40% 40%;
  position: relative;
}

.eye {
  width: 2rem;
  height: 2rem;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 20%;
}

.eye-left {
  left: 25%;
}

.eye-right {
  right: 25%;
}

.circle-bg:hover .eye-left {
  animation-name: eye-blink;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}
.circle-bg:hover .eyebrow-left{
  animation: eyebrow-blink;
  animation-duration: 0.4s;
  animation-delay: 0.1s;
}

.eyebrow {
  width: 4rem;
  height: 1rem;
  background-color: #533725;
  position: absolute;
  top: 8%;
}

.eyebrow-left {
  left: calc(25% - 1rem);
}

.eyebrow-right {
  right: calc(25% - 1rem);
}

.mouth {
  width: 5rem;
  height: 2rem;
  position: absolute;
  background-color: #cc7070;
  bottom: 15%;
  border-radius: 20% 20% 50% 50%;
  left: calc(50% - 2.5rem);
  overflow: hidden;
}

.teeth {
  background-color: #eee;
  width: 5rem;
  height: 0.5rem;
  position: absolute;
  top: 0;
}
.mouth-inner {
  width: 4rem;
  height: 2rem;
  background-color: #8a4c4c;
  border-radius: 50%;
  position: relative;
  left: calc(50% - 2rem);
  bottom: -1rem;
}
.nose {
  width: 2rem;
  height: 1.5rem;
  background-color: #e6b0cd;
  position: absolute;
  left: calc(50% - 1rem);
  top: 40%;
  border-radius: 25% 25% 50% 50%;
}

.hair {
  width: 16rem;
  height: 5rem;
  position: relative;
  background-color: #533725;
  z-index: 1;
  border-radius: 200rem 200rem 25rem 25rem;
  top: 0.2rem;
  left: -0.5rem;
}

.hair-bun {
  height: 5rem;
  width: 5rem;
  background-color: #533725;
  position: absolute;
  left: 5rem;
  top: -4.5rem;
  border-radius: 2rem;
}

.hair-tie {
  width: 5rem;
  height: 1rem;
  position: absolute;
  left: 5rem;
  top: -0.75rem;
  border-radius: 2rem;
  background-color: #00ff9d;
  z-index: 1;
}
.ear {
  width: 1.5rem;
  height: 2rem;
  background-color: #e6cab0;
  position: absolute;
  top: 45%;
}

.ear-left {
  left: -1.5rem;
  border-radius: 50% 0 0 50%;
}
.ear-right {
  right: -0.5rem;
  border-radius: 0 50% 50% 0;
}
